// Paleta

$gunmetal: #1b2224;
$eerie-black: #131414;
$onyx: #444444ff;
$picotee-blue: #271d87ff;
$majorelle-blue: #5c45f9ff;
$neon-blue: #5961f9ff;
$big-dip-oruby: #9d3147ff;
$red-crayola: #f81650ff;
$cultured: #f6f6f6ff;
$white: #fff;

// Sizing

$title: 3.5rem;
$paragraph: 1.4rem;

// Media Queries

$very-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 600px;
$very-small: 480px;