.app {
  position: relative;
  overflow-x: hidden;

  .vase {
    position: absolute;
    right: -40px;
    bottom: 0;
    height: 400px;
  }

  &__container {
    background-color: #f2f2f2;

    .content {
      @include flex(true, true);
      height: 100vh;

      .colorful-side {
        @include flex(true, true);
        @include gradientBackground($red-crayola, $big-dip-oruby, 30);
        padding-right: 0;
        width: 20%;
        height: 100%;
        transition: 0.3s;

        &__content {
          margin-right: -100%;
          transition: 0.3s;

          img {
            width: 250px;
            transition: 0.3s;

            @media (max-width: $medium) {
              width: 200px;
            }
            @media (max-width: $small) {
              width: 160px;
            }
          }
          @media (max-width: $very-small) {
            position: absolute;
            left: -80px;
          }
        }
        @media (max-width: $very-small) {
          width: 10%;
        }
      }

      .app-content {
        @include boundaries();
        @include flex(true, true);
        width: 80%;

        @media (max-width: $very-small) {
          width: 90%;
        }

        &__content {
          padding: 0 40px;
          padding-left: 26%;
          transition: 0.3s;

          h4 {
            @include Futura(Medium);
            font-size: 4rem;
            line-height: 90%;
            transition: 0.3s;

            @media (max-width: 750px) {
              font-size: 3rem;
            }
          }

          .cards {
            @include flex();
            margin-top: 60px;
            justify-content: flex-start;
            gap: 20px;

            @media (max-width: 660px) {
              flex-direction: column;
              align-items: stretch;
              gap: 0;
              margin-top: 30px;
            }

            .left-cards {
              display: flex;
              flex-direction: column;
            }

            .right-cards {
              display: flex;
              flex-direction: column;
            }

            .card {
              @include flex(false, true);
              gap: 20px;
              padding: 10px 0;
              padding-right: 10px;
              border-radius: 10px;

              h4 {
                @include Nunito(Bold);
                font-size: 1.2rem;
                line-height: 90%;
                opacity: 0.7;
                margin-bottom: 6px;
                transition: 0.3s;
              }

              p {
                @include Nunito(Bold);
                line-height: 90%;
                opacity: 0.3;
                font-size: 0.8rem;
                transition: 0.3s;
              }

              @media (max-width: 750px) {
                h4 {
                  font-size: 1rem;
                }
                p {
                  font-size: 0.6rem;
                }
              }

              .icon {
                background-color: $big-dip-oruby;
                min-width: 50px;
                min-height: 50px;
                border-radius: 15px;
                border: 4px solid #6a1728;
              }
            }
          }
          @media (max-width: $medium) {
            padding-left: 22%;
          }

          @media (max-width: 660px) {
            padding-left: 26%;
          }
        }
      }
    }
  }
}
