.contact {
  @include boundaries();

  &__content {
    @include flex();
    padding: 100px 0;
    padding-top: 60px;

    form {
      @include flex();
      border-radius: 20px;
      padding: 80px 100px;
      box-shadow: 0 0 2em rgba(0, 0, 0, 0.08);
      flex-direction: column;
      background-color: $white;
      width: min-content;
      transition: 0.3s;
      max-width: 90%;

      @media (max-width: $small) {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
      }

      h3 {
        @include Futura(Medium);
        color: $red-crayola;
        width: 300px;
        margin-bottom: 20px;
        font-size: 2rem;
        align-self: flex-start;
      }

      input,
      button,
      textarea {
        background-color: #f0f1f8;
        border: 0;
        color: #242424;
        width: 320px;
        height: 48px;
        margin-bottom: 10px;
        margin-top: 0;
        border-radius: 10px;
      }

      textarea {
        height: 100px;
      }

      button {
        @include Futura(Medium);
        background-color: $red-crayola;
        opacity: 0.7;
        color: $white;
        font-size: 1.6rem;
        cursor: pointer;
        transition: 0.3s;
      }

      button:hover {
        opacity: 0.8;
      }
    }
  }
}
