.projects {
    position: relative;
    margin-top: -170px;
    overflow-x: hidden;

    &__wave {
        @include wave();
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1360 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 94 C 8 94 8 94 16 94 L 16 94 L 16 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 15 94 C 276.5 94 276.5 39 538 39 L 538 39 L 538 0 L 15 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 537 39 C 948.5 39 948.5 188 1360 188 L 1360 188 L 1360 0 L 537 0 Z" stroke-width="0"></path></svg>');
        background-color: transparent;
        //transform: rotate(180deg);
        transform: rotateX(180deg);
    }
    
    &__title {
        @include boundaries();
        background-color: $white;

        h3 {
            @include gradientText();
            @include Futura(Medium);
            padding: 40px 40px 0;
            font-size: 3rem;
            text-align: center;
            line-height: 100%;

            @media (max-width: $small) {
                & {
                    font-size: 2.6rem;
                    padding: 40px 20px 0;
                }
            }
        }
    }

    &__content {
        background-color: $white;
    }

    &__carousel {
        padding-top: 60px;

        .cell {
            @include Futura(Medium);
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;
            width: 580px;
            margin: 16px 0;
            transition: .3s;
            
            .image {
                border-radius: 10px;

                img {
                    @include box-shadow(center);
                    border-radius: 10px;
                    width: 100%;
                    height: 310px;
                    opacity: .8;
                }
            }

            .info {
                line-height: 100%;

                h4 {
                    font-size: 1.8rem;
                    padding: 0 20px;
                    opacity: .8;
                }
    
                p {
                    font-size: 1.4rem;
                    margin-top: 14px;
                    padding: 0 18%;
                    opacity: .3;
                }
            }

            @media (max-width: $medium) {
                & {
                    width: 480px;
                    margin: 16px 0;

                    .image img { height: 256px; }
                }
            }

            @media (max-width: $small) {
                & {
                    width: 320px;
                    margin: 16px 0;

                    .image img { height: 170px; }
                    .info p { padding: 0 5%; }
                }
            }

            @media (max-width: 350px) {
                & {
                    width: 260px;
                    margin: 16px 0;

                    .image img { height: 138px; }
                    .info h4 { font-size: 1.4rem; }
                    .info p { font-size: 1rem; }
                }
            }
        }

        .cell + .cell {
            margin-left: 24px; 

            @media (max-width: $small) {
                margin-left: 10px;
            }
        }
    }
}
